@using VocabulatorLibrary.Data
@model IEnumerable<VocabulatorLibrary.Data.IDto>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>WordView</title>
</head>
<body>
<table>

    @foreach (var dto in Model)
    {
        @if (dto is WordDto word)
         {
             <tr>
                 <td>
                     <p>@word.Word</p>
                     <p>@word.Pronunciation</p>
                 </td>
             </tr>
             @foreach (var def in word.Results)
              {
                  <tr>
                      <td>
                          <p>@def.Definition</p>
                      </td>
                      <td>
                          <p>@def.PartOfSpeech</p>
                      </td>
                      @foreach (var ex in def.Examples)
                      {
                          <td>
                              <p>example: @ex</p>
                          </td>
                      }
                  </tr>
              }
         }
        @if (dto is ErrorDto error)
         {
             <tr>error.Message</tr>
         }
    }
</table>
</body>
</html>