@using VocabulatorLibrary.Data
@model IEnumerable<VocabulatorLibrary.Data.IDto>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>WordView</title>
</head>
<body>
<script src="~/js/site.js"></script>
@{
    var i = 0;

    <table>
        @foreach (var dto in Model)
        {
            i++;
            var examplesId = i + "_examples";
            var defId = i + "_def";
            var pofId = i + "_pof";

            @if (dto is WordDto word)
             {
                 var j = 0;
                 var partsOfSpeech = word.Results.Select(result => result.PartOfSpeech).ToArray();
                 var examples = word.Results.Select(result => result.Examples).ToArray();
                 <tr>
                     <td>@word.Word</td>
                     <td>@word.Pronunciation</td>
                     <td>
                         @{
                             <select id=@defId onchange='loadOtherFields(this.value, @i, @Html.Raw(Json.Serialize(partsOfSpeech)), @Html.Raw(Json.Serialize(examples)))'>
                                 <option value=-1></option>
                                 @foreach (var def in word.Results)
                                 {
                                     <option value=@j>@def.Definition</option>
                                     j++;
                                 }
                             </select>
                         }
                     </td>
                     <td id=@pofId></td>
                     <td id=@examplesId></td>
                 </tr>
             }
            if (dto is ErrorDto error)
            {
                <tr>error.Message</tr>
            }
        }
    </table>
}
</body>
</html>